* { 
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }
  
  body, input {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html, body, #root {
    height: 100%;
    background-image: url("../src/assets/movie-poster-background-1.jpg");
  }